@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  font-family: Poppins, sans-serif;
  background-color: #343541;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: white;
  height: 100vh;
  transition: background-color var(--transition-speed), color var(--transition-speed);
}

.dark-mode {
  --font-color: #c2c2c2;
  --bg-color: #343541;
}

.light-mode {
  --font-color: #343541;
  --bg-color: #ffffff;
}

body.dark-mode {
  background-color: var(--bg-color);
  color: var(--font-color);
}

body.light-mode {
  background-color: var(--bg-color);
  color: var(--font-color);
}

.switch {
  height: 100px;
  position: fixed;
  right: 25px;
  top: 25px;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked+.slider {
  background-color: #2b2b2b;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.container {
  text-align: center;
}

.header img {
  width: 200px;
  border-radius: 50%;
  border: 2px solid gray;
}

body a {
  display: inline-block;
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social img:hover {
  transform: scale(1.2);
  transition: transform 0.4s;
}

.social img {
  transform-origin: center;
  width: 50px;
  height: 50px;
  margin: 5px;
  transition: transform 0.4s;
}

.custom-dark-background {
  background-color: #333 !important;
  color: #ffffff !important;
}